[Unit]
Description=Faraday Security Server
After=network.target postgresql.service redis-server.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/ay-fy
Environment=PATH=/home/ubuntu/ay-fy/faraday_venv/bin:/usr/bin:/bin
ExecStart=/home/ubuntu/ay-fy/faraday_venv/bin/faraday-server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
